<div id="pairings-controls">
{% if pairing_error %}<p class="error">{{ pairing_error }}</p>{% endif %}
{% if can_edit %}
<p>
{% if has_draft_rounds %}
<button type="button" class="btn-publish-needed"
    data-on:click="@post('{% url 'publish_pairings' division.tournament.slug division.slug %}', {headers: {'X-CSRFToken': $_csrfToken}})">Publish All</button>
{% endif %}
{% if has_published_rounds %}
<a href="{% url 'published_pairings' division.tournament.slug division.slug %}" target="_blank" rel="noopener">View published pairings page</a>
{% endif %}
</p>
{% if waiting_message %}
<p>{{ waiting_message }}</p>
{% endif %}
{% endif %}
</div>
