<div id="settings-formset">
<form method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    <table>
        <thead>
            <tr>
                <th><input type="checkbox" id="select-all-rounds"></th>
                <th>Round</th>
                <th>Pairing Type</th>
                <th>Based on Round</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for form in formset %}
            <tr>
                <td><input type="checkbox" class="round-checkbox" data-round="{{ form.round.value }}"></td>
                <td>{{ form.round }}{{ form.round.value }}</td>
                <td>{{ form.pairing_type }}{% if form.pairing_type.errors %}<br>{{ form.pairing_type.errors }}{% endif %}</td>
                <td>{{ form.start_round }}{% if form.start_round.errors %}<br>{{ form.start_round.errors }}{% endif %}</td>
                <td>{% if form.non_field_errors %}{{ form.non_field_errors }}{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="submit">Save</button>
</form>
</div>
