{% extends "base.html" %}

{% block breadcrumbs %}
<span class="nav-sep">/</span>
<a href="{% url 'tournament_detail' division.tournament.pk %}">{{ division.tournament.name }}</a>
<span class="nav-sep">/</span>
<a href="{% url 'division_detail' division.pk %}">{{ division.name }}</a>
{% endblock %}

{% block nav_tabs_row %}
<div class="nav-tabs">
<a href="{% url 'division_entrants' division.pk %}" class="nav-tab{% if active_tab == 'entrants' %} active{% endif %}">Entrants</a>
<a href="{% url 'division_standings' division.pk %}" class="nav-tab{% if active_tab == 'standings' %} active{% endif %}">Standings</a>
<a href="{% url 'division_pairings' division.pk %}" class="nav-tab{% if active_tab == 'pairings' %} active{% endif %}">Pairings</a>
<a href="{% url 'division_all_results' division.pk %}" class="nav-tab{% if active_tab == 'results' %} active{% endif %}">Results</a>
<a href="{% url 'resultslip_create' division.pk %}" class="nav-tab{% if active_tab == 'add_result' %} active{% endif %}">Add Result</a>
<a href="{% url 'division_scorecards' division.pk %}" class="nav-tab{% if active_tab == 'scorecards' %} active{% endif %}">Scorecards</a>
{% if can_edit %}
<span class="nav-tab-sep"></span>
<a href="{% url 'division_edit_results' division.pk %}" class="nav-tab{% if active_tab == 'edit_results' %} active{% endif %}">Edit Results</a>
<a href="{% url 'division_entrants_edit' division.pk %}" class="nav-tab{% if active_tab == 'edit_entrants' %} active{% endif %}">Edit Entrants</a>
<a href="{% url 'division_settings' division.pk %}" class="nav-tab{% if active_tab == 'settings' %} active{% endif %}">Settings</a>
<a href="{% url 'division_fixtures' division.pk %}" class="nav-tab{% if active_tab == 'fixtures' %} active{% endif %}">Fixtures</a>
<a href="{% url 'division_board_tables' division.pk %}" class="nav-tab{% if active_tab == 'board_tables' %} active{% endif %}">Board Tables</a>
{% endif %}
</div>
{% endblock %}
