{% extends "tournaments/base_division.html" %}

{% block title %}{{ division.name }} - {{ division.tournament.name }} - Baxter{% endblock %}

{% block content %}
<h1>{{ division.name }}</h1>

<h2>Round {{ max_round }} Results</h2>
{% if latest_results %}
<p><a href="{% url 'division_all_results' division.pk %}">All results</a></p>
<table>
    <thead>
        <tr>
            <th>Round</th>
            <th>Winner</th>
            <th>Score</th>
            <th>Opponent</th>
            <th>Started</th>
        </tr>
    </thead>
    <tbody>
        {% for slip in latest_results %}
        <tr>
            <td>{{ slip.round }}</td>
            <td>{{ slip.winner.player.name }}</td>
            <td>{{ slip.winner_score }}-{{ slip.loser_score }}</td>
            <td>{{ slip.loser.player.name }}</td>
            <td>{% if slip.winner_started %}Winner{% else %}Opponent{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No results yet.</p>
{% endif %}

{% endblock %}
