{% extends "tournaments/base_division.html" %}

{% block title %}{% if editing %}Edit Result{% else %}Add Result{% endif %} - {{ division.name }} - Baxter{% endblock %}

{% block page_class %}page--narrow{% endblock %}

{% block content %}
<h1>{% if editing %}Edit Result{% else %}Add Result{% endif %}</h1>

{% include "tournaments/_resultslip_form.html" %}

<p>
{% if editing %}
<a href="{% url 'division_edit_results' division.pk %}">Cancel</a>
{% else %}
<a href="{% url 'division_detail' division.pk %}">Cancel</a>
{% endif %}
</p>
{% endblock %}
